# **Data Science Tools and Ecosystem**

## Author: Carlos C. Gomez, PhD

This notebook leverages Junyper and Python to summarize some of the Data Science tools and Ecosystem.

**Objectives**
1. Demonstrate use of Jupyter notebooks
2. Practice version control with GitHub
3. Identify popular languages used in Data Science
4. List commonly used Python and R libraries in Data Science
5. Describe open source tools used in Data Science

## **1. Languages**

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java
6. Scala
7. Mathlab

##**2. Libraries**

 Some of the popular sed libraries used by Data Scientists include:

***Python Libraries***
* Pandas
* NumPy
* MatPlotlib
* Seaborn
* TensorFlow
* Skit-learn
* Keras
* SciPy
* PyTorch

***R Libraries***
* ggplot2
* dplyr
* tidyr
* caret

## **3. Data Science Tools**

| Tool        | Description                          |
|-------------|--------------------------------------|
| Jupyter     | Interactive computing environment    |
| Pandas      | Data manipulation and analysis       |
| Matplotlib  | Visualizations                       |
| Seaborn     | Plots, heat maps, time series, etc.  |
| Scikit-learn| Machine Learning & Statistics        |
| Keras       | Deep Learning Neural Networks        |
| PySpark     | Python API for Apache Spark          |
| Tensor Flow | Machine Learning and deep learning   |
| Keras       | Artificial neural networks           |
| ggplot      | Graphics on R                        |
| Apache Spark| Open source for Big Data             |
| Hadoop      | Distributed processing for Big Data  |
| Tableau     | Business Intelligence Visualization  |
| Power Bi    | Business Intelliegence Visualization |

## **4. Arithmetic Expressions**

### Below are examples of seven arithmetic expressions in Python

In [8]:
# Addition (+) of two operands

4 + 3

7

In [9]:
# Subtraction (-) of second operand from the first

4 - 3

1

In [10]:
# Multiplication (*) of two operands

4 * 3

12

In [13]:
# Division (/) of the first operand by the second

4 / 3

1.3333333333333333

In [14]:
# Floor Division (//) of the first operand by the second
# returns the largest interger less than or equal to the result

4//3

1

In [15]:
# Moodulus (%) - returns the remainder when the first operand is divdied by the second

4 % 3

1

In [16]:
# Exponentiation (**) raises the first operand by the power of the second

4 ** 3

64

In [17]:
# This is an example of order of operations.
# first multiply operands in parenthesis then addition.

(3*4)+5

17

In [19]:
# This will convert 200 minutes tohours by diving by 60

total_minutes = 200
minutes_per_hour = 60

hours = total_minutes / minutes_per_hour

print(f'{total_minutes} minutes is {hours:.2f} hours')

200 minutes is 3.33 hours